.BookingDRecord___Main {
  padding: 10px 0;
}
.BookingDRecord___Main__table {
  width: 98%;
  margin: 30px auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.BookingDRecord___Main__table thead tr {
  background-color: #0c247b;
  color: #f7cd2e;
}
.BookingDRecord___Main__table th,
.BookingDRecord___Main__table td {
  padding: 3px;
  font-size: 14px;
}
.BookingDRecord___Main__table tbody tr {
  border-bottom: 1px solid #cad5e2;
}
.BookingDRecord___Main__Excel_Btn {
  background-color: #0c247b;
  cursor: pointer;
  margin: 10px;
  width: 150px;
  text-align: center;
  color: white;
  padding: 15px;
  border: none;
  outline: none;
}
.BookingDRecord___Main_month_t {
  background-color: white;
  border: 1px solid #f7cd2e;
  padding: 10px;
  margin: 10px;
  color: #0c247b;
  cursor: pointer;
}
.BookingDRecord___Main_month_f {
  background-color: #0c247b;
  color: #f7cd2e;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
