.salessadminmainnn {
  display: flex;
  width: 100%;
}
.salessadminmainndivide1n {
  width: 15%;
  height: 100vh;
  overflow: scroll;
  border-right: 1px solid #00000052;
  padding-top: 20px;
}
.salessadminmainndivide2n {
  width: 85%;
}
.salessadminmainndivide1Uln {
  list-style: none;
  width: 100%;
}
.salessadminmainndivide1LinI {
  color: gray;
  margin: 0px 10px;
}
.salessadminmainndivide1Lin {
  display: flex;
  background-color: #e07c24;
  padding: 10px 0px;
  color: black;
  font-family: 'Andika';
  border-top: 1px solid #00000052;
  border-bottom: 1px solid #00000052;
  cursor: pointer;
}
.salessadminmainndivide1LiNn {
  display: flex;
  background-color: #fff;
  padding: 10px 0px;
  color: black;
  font-family: 'Andika';
  cursor: pointer;
}
