.country--fiels-flex {
  display: flex;
  justify-content: space-between;
}
.country--field {
  display: flex;
  flex-direction: column;
}
.country--btn {
  background-color: #120e43;
  color: white;
  border: none;
  padding: 0.5em 1em;
  margin: 2em;
  border-radius: 10px;
}
.country-btn-div {
  display: flex;
  justify-content: flex-end;
}
.country--field label {
  font-family: 'Roboto', sans-serif;
  margin-top: 0.5em;
}
.country--field input,
.country--field textarea,
.country--field select {
  border: none;
  outline: none;
  border: 1px solid #03c6c7;
  border-radius: 5px;
  padding-left: 5px;
}
