.access-bg {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/touronapp-248e4.appspot.com/o/access-denied.jpg?alt=media&token=48848cfe-5812-4b74-8abe-085ee714fab8');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
