.priors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
.priorss {
  display: flex;
  align-items: center;
}
.priors label {
  font-family: 'Andika';
  margin-left: 10px;
  margin-bottom: 0px;
  padding: 10px 0;
  cursor: pointer;
  width: 500px;
}

@media (max-height: 768px) {
  .priors {
    padding-left: 5px;
    align-items: flex-start;
  }
  .priors label {
    width: auto;
  }
}

@media (max-height: 360px) {
  .priors {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
