.backCover {
  background-color: rgba(0, 0, 0, 0.3);
}
.clogo {
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  width: 70px;
  padding: 5px;
}
.para {
  position: absolute;
  text-align: justify;
  bottom: 50px;
  left: 0;
  right: 0;
  color: white;
  padding: 10px;
}
